body {
  top: 0px;
  left: 0px;
  /* width: 160px !important; */
 
  background: #EDF0F4 0% 0% no-repeat padding-box;
  opacity: 1;
}
 

.bg-col {
 
  position: relative;
  background-color: #EDF0F4 !important;
}


.asd {
  margin-left: 20px;
  font-size: 18px;
}

.medium-24px {
  margin-left: 15px;
  font-family: Roboto;
  font-size: 24px;
  color: #141414;
}

.navbar {
  top: 0px;
  left: 0px;
  width: unset;
   
  /* height: 60px; */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px #00000029;
  opacity: 1;
  margin-bottom: 10px !important;
}

.abso {
  position: absolute;
  margin-left: 440px;
  margin-top: 5px;
  color: rgb(172, 165, 165);
}
#yearh6{
  position: relative;
  font-weight: bold;
  top: 30px;
  font-size: 15px;
  left: 43px;

}
.searchbox {
  margin-left: 49px;
  width: 450px !important;
}

.head-icon {
  position: relative;
  width: 120px;
  
  right: 95px;
  display: flex;
  margin-top: 17px;

}

.bell {
  font-size: 22px;
}

.bell1 {
  margin-left: 20px;
  font-size: 22px;
}

.bell11 {
  margin-top: -4px;
  margin-left: 20px;
  color: white;
  background-color: #13255B;
  border-radius: 50%;
  width: 43px !important;
  padding: 2px;
  padding-left: 5px !important;
}

.body1 {
  /* border: 2px solid red; */
  /* height: 200px; */
  margin-left: 130px;
  margin-right: 130px;


}

.body11 {
  display: flex;
  justify-content: space-between;

}

.calen {
  width: 200px;
  height: 100px;
  overflow-y: hidden;
}

.body-box {
  display: flex;
  background-color: white;
  width: 300px;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #00000029 !important;
  border-radius: 8px !important;
  opacity: 1;
}

.body-box p {
  margin-top: 7px;
  margin-left: 10px;
}

.body-box i {
  margin-top: 14.5px;
  margin-left: 25px;
  margin-right: 10px;
}

.body-box span {
  margin-top: 7px;
}
 
.card img {
  /* margin-left: 10px; */
  height: 18px;
  width: 15px;
}

.card-sd {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #00000029 !important;
  border-radius: 8px !important;
  opacity: 1;
}

.card1 {
  display: flex;
}
 

.card1-inner {
  margin-top: -15px;
  margin-bottom: 14px;
  margin-left: 40px;
}

.last-div {
  background-color: #D5E3FF;
  height: 168px;
}

.last-divv {
  display: flex;
  justify-content: space-between;

}

.last-div1 span {
  color: #7B7C89;
  font-size: 14px;
}

.last-div2 button {
  width: 146px;
  height: 41px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 1px #00000029;
  opacity: 1;
  position: relative;
    right: 21px;
  border: none;
  margin-right: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #00000029 !important;
  border-radius: 8px !important;
  opacity: 1;
}

.last-div2 span {
  margin-right: 20px;
  color: #7B7C89;
  font-size: 14px;

}

.last-div1 {
  margin-left: 2px;
}

.last-inner {
  /* border: 2px solid blue; */
  margin-left: 7px;
  background-color: white;
  border-radius: 6px;
  width: 121px;
  height: 70px;
  padding: 9px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #00000029 !important;
  border-radius: 8px !important;
  opacity: 1;
}

.last-inner1 {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #00000029 !important;
  border-radius: 8px !important;
  opacity: 1;
  margin-left: 7px;
  background-color: white;
  border-radius: 6px;
  width: 121px;
  height: 70px;
  padding: 9px;
}

.last-div3 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px !important;
}

.body2 {
  /* border: 2px solid red; */
  background-color: white;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 0px 8px 8px 0px;
  width: 70px;
  height: 388px;
  position: absolute;
  margin-top: -670px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #00000029 !important;
  opacity: 1;
}

.body2 span {
  font-size: 12px;
  color: #FFFFFF;

}

.body-11 img {
  height: 20px;
  margin-top: 12px;

}

.body-11 {
  background-color: #13255B;
  padding-bottom: 9px;
  text-align: center;
  border-radius: 0px 8px 8px 0px;
}

.body-1 {
  padding-bottom: 9px;
  text-align: center;
}
.body-1 img {
  height: 20px;
  margin-top: 12px;
  color: #A6A8B1;
  
}
.body-1 span{
  
  color: #A6A8B1;
}
.chart{
  width: 600px;
  margin-top: 42px;
  margin-left: -80px;
  display: flex;
  position: relative;
}
.chart-flex{
  display: flex;
}
.asdfg{
  width: 250px !important;
  margin-left: -100px;
}

.chart-abs{
  position: absolute;
  text-align: center;
  height: 48px;
  width: 50px;
  border-radius: 50%;
  color: black;
  margin-left: 154px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 17px #0000002a;
  opacity: 1;
  margin-top: 143px !important;
}
.zzzz{
  font-size: 14px !important;
  position: absolute;
  color: black;
  margin-left: 412px;
  margin-top: 102px;
}
.chart-abs1{
  position: absolute;
  text-align: center;
  height: 48px;
  width: 51px;
  border-radius: 50%;
  color: black;
  margin-left: 396px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 17px #0000002a;
  opacity: 1;
  margin-top: 88px !important;
}
.chart-abs2{
  position: absolute;
  text-align: center;
  height: 48px;
  width: 50px;
  border-radius: 50%;
  color: black;
  margin-left: 224px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 17px #0000002a;
  opacity: 1;
  margin-top: 21px !important;
}
.chart-abs3{
  position: absolute;
  text-align: center;
  height: 48px;
  width: 50px;
  border-radius: 50%;
  color: black;
  margin-left: 208px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 17px #0000002a;
  opacity: 1;
  margin-top: 143px !important;
}

.chart1{
  display: flex;
  /* border: 2px solid red; */
  width: 809px;
  margin-top: 14px;
  margin-left: -256px;
}

.dotts{
  /* margin-left: -173px; */
  width: 185px;
  margin-top: -100px;
  height: 147px;
}
.dotts1{
  /* margin-left: -173px; */
  width: 185px;
  margin-top: -119px;
  height: 147px;
}
.dotts2{
  /* margin-left: -173px; */
  width: 185px;
  margin-top: -119px;
  height: 147px;
}
.dotts3{
  /* margin-left: -173px; */
  width: 185px;
  margin-top: -119px;
  height: 147px;
}
.dotts4{
  /* margin-left: -173px; */
  width: 185px;
  margin-top: -119px;
  height: 147px;
}
.dotts5{
  /* margin-left: -173px; */
  width: 185px;
  margin-top: -119px;
  height: 147px;
}
.dott-text{
  font-size: 14px;
  font: normal normal normal 17px/25px Roboto;
letter-spacing: 0px;
color: #1F2439;
opacity: 1;
}